Repository AhmedNagehAbdelrazek/Quiz-Microservice, pull requests merged in 2024-09, with the labels that each got.

#2 [Issue #1]: Implement Client Management CLI Commands
  quiz-microsevice/business-logic/services/client-service.js
  quiz-microsevice/business-logic/services/oauth-service.js
  quiz-microsevice/cli/actions/index.js
  quiz-microsevice/cli/actions/list-clients.js
  quiz-microsevice/cli/actions/regenerate-client-credentials.js
  quiz-microsevice/cli/index.js
  quiz-microsevice/data-access/repositories/client-repository.js
  quiz-microsevice/package-lock.json
Labels: CLI, Client Management

#9 [Issue 3]: Implement Centralized Error-Handling Middlewares for Consistent Error Management
  quiz-microsevice/business-logic/errors/oauth/index.js
  quiz-microsevice/business-logic/errors/oauth/invalid-client-error.js
  quiz-microsevice/business-logic/errors/oauth/invalid-request-error.js
  quiz-microsevice/business-logic/services/oauth-service.js
  quiz-microsevice/package-lock.json
  quiz-microsevice/package.json
  quiz-microsevice/server/controllers/oauth-controller.js
  quiz-microsevice/server/errors/http-error.js
  quiz-microsevice/server/errors/index.js
  quiz-microsevice/server/handlers/error-handler.js
  quiz-microsevice/server/handlers/index.js
  quiz-microsevice/server/handlers/oauth-error-handler.js
  quiz-microsevice/server/middlewares/auth-middleware.js
  quiz-microsevice/server/middlewares/authenticate.js
  quiz-microsevice/server/middlewares/index.js
  quiz-microsevice/server/routes/index.js
  quiz-microsevice/server/routes/oauth/index.js
Labels: Error Handling

#8 [Issue 4]: Implement CLI Commands for Renaming, Enabling, and Disabling Clients
  quiz-microsevice/business-logic/services/auth-service.js
  quiz-microsevice/business-logic/services/client-service.js
  quiz-microsevice/business-logic/services/oauth-service.js
  quiz-microsevice/cli/actions/disable-client.js
  quiz-microsevice/cli/actions/enable-client.js
  quiz-microsevice/cli/actions/index.js
  quiz-microsevice/cli/actions/rename-client.js
  quiz-microsevice/cli/index.js
  quiz-microsevice/data-access/models/client.js
  quiz-microsevice/data-access/repositories/client-repository.js
  quiz-microsevice/package-lock.json
  quiz-microsevice/package.json
Labels: CLI, Client Management

#10 [Issue #5]: Implement Create Quiz Feature
  quiz-microsevice/business-logic/enums/difficulty-types.js
  quiz-microsevice/business-logic/enums/index.js
  quiz-microsevice/business-logic/enums/question-types.js
  quiz-microsevice/business-logic/services/index.js
  quiz-microsevice/business-logic/services/question-service.js
  quiz-microsevice/business-logic/services/quiz-service.js
  quiz-microsevice/data-access/models/index.js
  quiz-microsevice/data-access/models/question.js
  quiz-microsevice/data-access/models/quiz.js
  quiz-microsevice/data-access/repositories/index.js
  quiz-microsevice/data-access/repositories/question-repository.js
  quiz-microsevice/data-access/repositories/quiz-repository.js
  quiz-microsevice/package-lock.json
  quiz-microsevice/server/controllers/index.js
  quiz-microsevice/server/controllers/quiz-controller.js
  quiz-microsevice/server/routes/api/index.js
  quiz-microsevice/server/routes/api/quizzes.js
Labels: Quiz Management

#17 [Issue #16]: Implement 'Publish Quiz' Feature
  quiz-microsevice/business-logic/errors/quiz/index.js
  quiz-microsevice/business-logic/errors/quiz/quiz-already-published-error.js
  quiz-microsevice/business-logic/services/quiz-service.js
  quiz-microsevice/data-access/repositories/quiz-repository.js
  quiz-microsevice/server/controllers/quiz-controller.js
  quiz-microsevice/server/handlers/error-handler.js
  quiz-microsevice/server/routes/api/quizzes.js
Labels: Quiz Management

#18 [Issue #13]: Implement 'Add Question to Quiz' Feature
  quiz-microsevice/business-logic/services/quiz-service.js
  quiz-microsevice/server/controllers/quiz-controller.js
  quiz-microsevice/server/routes/api/quizzes.js
Labels: Quiz Management

#19 [Issue #15]: Implement "Delete Question" Feature
  quiz-microsevice/business-logic/services/question-service.js
  quiz-microsevice/data-access/repositories/question-repository.js
  quiz-microsevice/server/controllers/quiz-controller.js
  quiz-microsevice/server/routes/api/quizzes.js
Labels: Quiz Management

#20 [Issue #14]: Implement "Update Question" Feature
  quiz-microsevice/business-logic/services/question-service.js
  quiz-microsevice/data-access/repositories/question-repository.js
  quiz-microsevice/server/controllers/quiz-controller.js
  quiz-microsevice/server/routes/api/quizzes.js
Labels: Quiz Management
